---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar/index.astro';
import Hero from '../components/home/Hero/index.astro';
import Presentation from '../components/home/Presentation/index.astro';
import Objectives from '../components/home/Objectives/index.astro';
import ChannelsSection from '../components/home/ChannelsSection/index.astro';
import Philosophy from '../components/home/Philosophy/index.astro';
import Invite from '../components/home/Invite/index.astro';
import Footer from '../components/layout/Footer/index.astro';

import communityData from '../data/community.json';

const WHATSAPP_LINK = "https://chat.whatsapp.com/Hbm9wubODmw2ycWx5DTcMZ";
---

<Layout>
  <Navbar />

  <main>
    <Hero whatsappLink={WHATSAPP_LINK} />
    
    <Presentation 
      areas={communityData.areas} 
    />

    <Objectives />

    <ChannelsSection channels={communityData.channels} />

    <Philosophy />

    <Invite 
      whatsappLink={WHATSAPP_LINK} 
    />
  </main>

  <Footer />
</Layout>

<script>
  import { initRevealObserver } from '../scripts/reveal';
  
  // Re-initialize on component load/navigation
  initRevealObserver();
</script>
