---
import styles from './ChannelItem.module.css';

interface Props {
  emoji: string;
  name: string;
  desc: string;
}

const { emoji, name, desc } = Astro.props;
---

<div class={styles['channel-item']}>
  <span class={styles['channel-emoji']} aria-hidden="true">{emoji}</span>
  <div class={styles['channel-info']}>
    <strong class={styles['channel-name']}># {name}</strong>
    <span class={styles['channel-desc']}>{desc}</span>
  </div>
</div>

